name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up uv
        uses: astral-sh/setup-uv@v3
        with:
          version: 'latest'
      - name: Install
        run: uv sync
      - name: Run example
        run: make run
      - name: Build assets
        run: make assets-all
      - name: Check
        run: uv run truthweave check --mode ci
